<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="#home">My Books</a></li>
        <!--<li><a href="#page2">Friends Books</a></li>-->
        <li class="active"><a href="#findFriends">Find Friends</a></li>
        <li><a href="#popular">Popular Books</a></li>
      </ul>

    </div><!--/.nav-collapse -->
  </div>
</div>



<body>
  <div ng-controller="friendsController as friends">
      <div class="container">
        <div>
          <div class="row" style="margin-top: 80px;">
            <div ng-repeat="friend in findFriends" class="col-md-1 well">
            {{friend.FirstName}} {{friend.LastName}}
            <button class="btn btn-default btn-sm" type="button" data-ng-click="addFriend(friend.UserID)">Add</button>
            </div>
          </div>
        </div>
      </div>  
  </div>
</body>
