<div ng-controller="bookController as book">
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#home">My Books</a></li>
        <!--<li><a href="#page2">Friends Books</a></li>-->
        <li><a href="#findFriends">Find Friends</a></li>
        <li><a href="#popular">Popular Books</a></li>
      </ul>
       <div class="input-group" style="float: right; margin-top: 8px;">
          <input type="text" class="form-control" placeholder="Filter Books..." ng-model="searchBooks">
       </div><!-- /input-group -->
    </div><!--/.nav-collapse -->
  </div>
</div>


<body>

<!--<img src="images/shelf-long.jpg" style="margin-left: -50px; margin-top: 0px">-->
<div class="jumbotron">
<div class="container" style="padding-top: 50px; background-image: url('images/shelf.png'); background-repeat: repeat-y;">


  <div>

        <div class="row" style="margin-top: -10px;">
          <div ng-repeat="abook in books | filter:searchBooks" style=" display:inline; margin: 0px 0px;"><img ng-src="/images/{{abook.Image_Spine}}" style=" height: 300px; margin-bottom: 75px;" data-ng-click="showConfirm(abook)"></div>
            <button class="btn btn-default btn-lg" type="button" data-ng-click="showAddBook()"><h3>Add Book</h3></button>
          
        </div>

  </div>
</div>  
</div><!-- /.container -->

</body>





</div>